<ion-content [fullscreen]="true">
  <ion-breadcrumbs color="primary">
    <ion-breadcrumb *ngFor="let folder of getPathList()" (click)="onDirectorySelect(folder.path)">
      {{ folder.label }}
    </ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-list>
    <ng-container *ngFor="let entry of fileList; let last = last">
      <!-- ----------- Folder ------------ -->
      <ion-item *ngIf="!entry.attributes.is_file" [lines]="last ? 'none' : 'full'"
        (click)="onDirectorySelect(entry, true)">
        <fa-icon class="folder" [icon]="fileIconService.getFolderIcon()"></fa-icon>
        <ion-label class="fileName">{{ entry.attributes.name }}</ion-label>
      </ion-item>

      <!-- ------------ File ------------- -->
      <ion-item *ngIf="entry.attributes.is_file" [lines]="last ? 'none' : 'full'" (click)="onFileSelect(entry)">
        <fa-icon class="file" [icon]="getIcon(entry.attributes.name)"></fa-icon>

        <ion-label class="fileName">{{ entry.attributes.name }}</ion-label>
        <ion-label class="fileSize" slot="end">{{ entry.attributes.size | zfilesize }}</ion-label>
        <ion-label class="fileModified" slot="end">{{ entry.attributes.modified_at | zdate }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
