#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-family: monospace;

  & #console {
    background-color: #222428;
    padding: 10px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 50px);

    & #scrollBottom {
      position: fixed;
      bottom: 80px;
      right: 30px;
      float: right;
      width: 40px;
      aspect-ratio: 1;
      background-color: #30353d;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s, transform 0.2s;

      &:hover {
        background-color: #3d414a;
      }

      &:active {
        transform: scale(0.95);
      }

      & ion-icon {
        width: 40px;
        aspect-ratio: 1;
        height: 36px;
        position: absolute;
        top: 3px;
      }
    }

    & .message {
      display: block;
      word-wrap: break-word;
      white-space: pre-wrap;
      margin-bottom: 5px;
    }
  }

  & #inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #30353d;

    & #input {
      width: 100%;
      height: 100%;
      background-color: #30353d;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
