#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-family: monospace;

  & #console {
    background-color: #222428;
    padding: 10px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 50px);

    & .message {
      display: block;
      word-wrap: break-word;
      white-space: pre-wrap;
      margin-bottom: 5px;
    }
  }

  & #inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #30353d;

    & #input {
      width: 100%;
      height: 100%;
      background-color: #30353d;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
