ion-menu {
  --width: 80%;
  max-width: 350px !important;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list-header {
  font-size: 16px;
  // color: #757575;
  min-height: 26px;
  padding-left: 10px;
}
ion-menu ion-note {
  margin-bottom: 30px;
  padding-left: 10px;
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-list {
  padding: 20px 0;
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}
ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-menu ion-item ion-icon {
  color: #616e7e;
}
ion-menu ion-item ion-label {
  font-weight: 500;
}
