<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-label color="danger">Tapejara</ion-label>
          </ion-list-header>
          <ion-note>A Pterodactyl App</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/home" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" routerLink="/settings"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="settings"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
