#serverStatus {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  aspect-ratio: 1;
  background-color: black;
  border: 2px solid white;
  transition: background-color 0.3s ease;
}
#serverStatus.online {
  background-color: var(--ion-color-success);
  animation: pulse 2s infinite;
}
#serverStatus.offline {
  background-color: var(--ion-color-success);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0px 0px var(--ion-color-success);
  }
  50% {
    box-shadow: 0 0 5px 3px var(--ion-color-success);
  }
  100% {
    box-shadow: 0 0 0px 0px var(--ion-color-success);
  }
}

#selectServer {
  border-radius: 25px;
  background-color: rgba(var(--ion-color-primary-rgb), 0.75);
  color: white;
  padding: 0 10px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
#selectServer:hover {
  background-color: rgba(var(--ion-color-primary-rgb), 0.65);
}
#selectServer:active {
  transform: scale(0.97);
}
