<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!contentLoading">{{ getCurrentServer().attributes.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">Change Server</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ng-container *ngIf="!contentLoading">
    <ion-select id="serverSelect" label="Select a server:" placeholder="No server selected" [(ngModel)]="serverID"
      (ionChange)="onServerSelect()">
      <ion-select-option *ngFor="let server of servers"
        [value]="server.attributes.identifier">{{ server.attributes.name }}</ion-select-option>
    </ion-select>
  </ng-container> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="console">
        <ion-icon name="terminal"></ion-icon>
        Console
      </ion-tab-button>
      <ion-tab-button tab="file-explorer">
        <ion-icon name="folder"></ion-icon>
        File Browser
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
